<header class="header">
  <div class="container">
    <nav class="nav">
      <!-- <a class="logo" (click)="scrollTo('home')">Your Logo</a> -->
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('home')">Home</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('projects')">Projects</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('blog')">Blog</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scrollTo('contact')">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>