<header class="header">
    <div class="container">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="/projects" class="nav-link">Projects</a></li>
          <li class="nav-item"><a routerLink="/blog" class="nav-link">Blog</a></li>
          <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>