<header class="bg-gray-900 text-white py-4">
    <div class="container mx-auto">
      <nav>
        <ul class="flex space-x-4">
          <li><a routerLink="/" class="hover:text-gray-300">Home</a></li>
          <li><a routerLink="/projects" class="hover:text-gray-300">Projects</a></li>
          <li><a routerLink="/blog" class="hover:text-gray-300">Blog</a></li>
          <li><a routerLink="/contact" class="hover:text-gray-300">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>