<footer class="footer">
  <div class="container">
    <div class="social-media">
      <a href="https://github.com/chintamanichavan" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
        <span>GitHub</span>
      </a>
      <a href="https://www.linkedin.com/in/chintamanichavan" target="_blank" class="social-link">
        <i class="fab fa-linkedin"></i>
        <span>LinkedIn</span>
      </a>
      <a href="https://www.instagram.com/chintamani_chavan" target="_blank" class="social-link">
        <i class="fab fa-instagram"></i>
        <span>Instagram</span>
      </a>
    </div>
    <p class="footer-text">&copy; {{ currentYear }} Chintamani Chavan. All rights reserved.</p>
  </div>
</footer>