<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="projects-heading">Projects</h2>
    <div class="project-grid">
      <div *ngFor="let project of projects" class="project-card" (click)="openProject(project.link)">
        <div class="project-image">
          <img [src]="project.image" [alt]="project.title">
        </div>
        <div class="project-details">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>